*,
*::before,
*::after {
  box-sizing: border-box;
}
.favorable {
  background-color: rgb(23, 165, 23);
  color: white;
}
.low {
  background-color: yellow;
}
.moderate {
  background-color: orange;
  color: white;
}
.severe {
  background-color: red;
  color: white;
}
.extreme {
  background-color: darkmagenta;
  color: white;
}

section article {
  font-size: 1.4em;
}

.custom-display {
  display: inline;
  width:fit-content;
  margin-bottom: 20px;
}
#fiveDay h2{
  margin-bottom: 20px;
}
#fiveDay div{
  font-size: 1.1em;
  text-align: center;
}