*,
*::before,
*::after {
  box-sizing: border-box;
}
.favorable {
  background-color: green;
  color: white;
}
.low {
  background-color: yellow;
}
.moderate {
  background-color: orange;
  color: white;
}
.severe {
  background-color: red;
  color: white;
}
.extreme {
  background-color: darkmagenta;
  color: white;
}

.custom-display {
  display: inline;
  width:fit-content;
  margin-bottom: 20px;
}
#fiveDay h2{
  margin-bottom: 20px;
}